@use "./functions" as f;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: clamp(f.rem(28), f.rem(16) + 2vw, f.rem(40));
}

h2 {
  font-size: clamp(f.rem(22), f.rem(14) + 1.5vw, f.rem(36));
}

p {
  // font-size: calc(12px + 0.5vw);
  font-size: f.rem(16);
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
