@use "../globals" as g;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: g.rem(40);
  width: min(100% - g.rem(40), g.rem(1000));
  margin-inline: auto;

  @include g.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: g.rem(40);
  }

  &__main {
    background-color: hsl(240, 100%, 29%);
  }

  &__sidebar {
    background-color: rgb(154, 0, 154);

    @include g.breakpoint-down(medium) {
      text-align: center;
    }
  }
}
