@use "../globals" as g;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: g.rem(40);
  width: min(100% - g.rem(40), g.rem(1000));
  margin-inline: auto;

  @include g.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main {
    background-color: hsl(240, 100%, 29%);
    padding: g.rem(40);
  }

  &__sidebar {
    @include g.breakpoint-down(medium) {
      text-align: center;
      background-color: rgb(1, 113, 1);
    }
  }

  &__widget {
    background-color: rgb(154, 0, 154);
    padding: g.rem(16);
    width: 100%;

    &--green {
      @extend .grid__widget;
      background-color: hsl(120, 100%, 25%);
    }

    &.yellow {
      background-color: hsl(55, 100%, 50%);
    }
  }
}
